async-lru
cachetools
certifi
charset-normalizer
dnspython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
motor
oauth2client
oauthlib
protobuf
psutil
pyaes
pyasn1
pyasn1-modules
pyparsing
Pyrogram
PySocks
requests
requests-oauthlib
rsa
six
TgCrypto
uritemplate
urllib3
